
//BACKGROUND COLORS
$color-background-one: #f7f7f7;
$color-background-two: #ff0000;
$color-background-three: rgba(77, 77, 77, .7);
$color-background-four: #d8d8d8;
$color-background-six: #f8d7da;
$color-background-seven: #c3e6cb;
//BORDER COLORS
$color-border-one: #e1e1e1;
// COLORS
$color-one: #b7b7b7;
$color-two: #000;
$color-three: #fff;
$color-four: #4f4f4f;
$color-five: #6e6d6d;